name: 'Submodule - Publish'

on:
  workflow_call:

jobs:
  publish:
    name: 'Publish'
    runs-on: ubuntu-latest
    steps:
      - name: 'Download artifacts'
        uses: actions/download-artifact@v6
        with:
          name: website
          path: website
