name: 'Publish'

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  pages: write
  id-token: write

jobs:
  test:
    name: 'Tests'
    uses: ./.github/workflows/__call__checks.yaml

  build:
    name: 'Build'
    needs: [test]
    uses: ./.github/workflows/__call__build.yaml

  publish:
    name: 'Publish'
    needs: [build]
    uses: ./.github/workflows/__call__publish.yaml
